HEROKU_SERVICE_URL=https://sneaker-watcher-bot.herokuapp.com
ATMOS_BASE_URL=https://atmos.co.id
ATMOS_INSTAGRAM_USERNAME=atmos_id
ATMOS_COLLECTIONS_WHITELISTED_PRODUCTS=air jordan,dunk,air max, air force, yeezy, boost, nmd,wotherspoon
HOOPS_POINT_BASE_URL=https://www.hoopspoint.com
HOOPS_POINT_INSTAGRAM_USERNAME=hoops.point
HOOPS_INDONESIA_API_URL=https://api.hoopsindonesia.co.id
HOOPS_INDONESIA_BASE_URL=https://hoopsindonesia.co.id
HOOPS_INDONESIA_INSTAGRAM_USERNAME=hoops.indonesia
HOOPS_INDONESIA_BANNERS_WHITELISTED_PRODUCTS=jordan,dunk,blazer,boost,yeezy
OUR_DAILY_DOSE_BASE_URL=https://ourdailydose.net
OUR_DAILY_DOSE_BASE_LATEST_WHITELISTED_PRODUCTS=air jordan,dunk,air max,air force,blazer,yeezy,boost,nmd,wotherspoon,moma,xlarge,sacai
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
INSTAGRAM_ACCOUNTS=
INSTAGRAM_CACHE_EXPIRY=12
DEFAULT_SCRAPER_INTERVAL_SECONDS=30
