HEROKU_SERVICE_URL=https://sneaker-watcher-bot.herokuapp.com
ATMOS_BASE_URL=https://atmos.co.id
ATMOS_INSTAGRAM_USERNAME=atmos_id
HOOPS_POINT_BASE_URL=https://www.hoopspoint.com
HOOPS_POINT_INSTAGRAM_USERNAME=hoops.point
HOOPS_INDONESIA_BASE_URL=https://hoopsindonesia.co.id
HOOPS_INDONESIA_INSTAGRAM_USERNAME=hoops.indonesia
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
INSTAGRAM_USERNAME=
INSTAGRAM_PASSWORD=
