HEROKU_SERVICE_URL=https://sneaker-watcher-bot.herokuapp.com
ATMOS_BASE_URL=https://atmos.co.id
HOOPS_POINT_BASE_URL=https://www.hoopspoint.com
HOOPS_POINT_INSTAGRAM_USERNAME=hoops.point
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
INSTAGRAM_USERNAME=just.a.watcher.69
INSTAGRAM_PASSWORD=punkmelodic
